// Reset

.wrapper {
  box-sizing: border-box;
  font-size: 16px;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  ol,
  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

// Actual styles

.branch {
  padding-left: 9px;
  padding-right: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  user-select: none;
}

.wrapper {
  position: fixed;
  bottom: 32px;
  right: 32px;
  background: #0c0c0c;
  z-index: 1000;
  border-radius: 7px;
  animation: in 0.3s ease-out;
  display: flex;
}

.root {
  border-radius: 6px;
  height: 36px;
  color: white;
  display: flex;
  border: 1px solid #303030;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  &[data-draft-active="true"] {
    border-color: #ff6c02;
    background-color: rgba(255, 108, 2, 0.15);

    &:has(button.draft:enabled:hover) {
      border-color: #ff8b35;
    }
  }
}

.draft {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  cursor: pointer;
  color: #646464;
  border-left: 1px solid #303030;
  border-radius: 0 5px 5px 0;
  margin: -1px;

  &:disabled {
    &:hover {
      cursor: not-allowed;
    }
  }

  &[data-active="true"] {
    border-color: #ff6c02;

    &:enabled:hover {
      border-color: #ff8b35;
      background-color: #ff8b35;
    }
  }

  &[data-active="false"] {
    border: 1px solid #303030;

    &:enabled:hover {
      background-color: #0c0c0c;
    }
  }

  &:focus-visible {
    outline: 1px solid;
    outline-offset: -1px;
    outline-color: #303030;
    border-radius: 0 6px 6px 0;
  }

  &[data-active="true"] {
    color: #000;
    background-color: #ff6c02;
  }

  &[data-loading="false"] &[data-active="true"] {
    transition:
      color 0.2s,
      background-color 0.2s;

    &:enabled {
      &:hover {
        color: #fff;
      }
    }
  }

  &[data-loading="true"] {
    cursor: wait !important;

    svg {
      animation: breathe 1s infinite;
    }
  }
}

.tooltipWrapper {
  position: relative;
  display: flex;
  height: 100%;

  &:hover {
    .tooltip {
      visibility: visible;
    }
  }
}

.dragHandle {
  all: unset;
  cursor: grab;

  &.dragging {
    cursor: grabbing;
  }

  &:active {
    cursor: grabbing;
  }
}

.tooltip {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  background-color: #0c0c0c;
  border: 1px solid #303030;
  color: white;
  border-radius: 4px;
  max-width: 200px;
  width: max-content;
  font-size: 14px;
  z-index: 1000;
  visibility: hidden;
  --translate-x: -50%;

  &.forceVisible {
    visibility: visible;
  }

  &.top {
    top: 40px;
    bottom: unset;
    transform: translateY(0) translateX(var(--translate-x));

    &:before {
      mask-image: linear-gradient(
        135deg,
        rgb(0, 0, 0) 31%,
        rgba(0, 0, 0, 0) 31%,
        rgba(0, 0, 0, 0) 100%
      );
      top: -4.5px;
      bottom: unset;
      transform: translateX(var(--translate-x)) rotate(45deg);
    }
  }

  &.bottom {
    bottom: unset;
    top: -40px;
    transform: translateY(0) translateX(var(--translate-x));

    &:before {
      bottom: -4.5px;
      top: unset;
      transform: translateX(0) rotate(45deg);
    }
  }

  &.right {
    right: 0;
    left: unset;
    transform: translateX(0);
    --translate-x: 0;

    &:before {
      right: 8px;
      left: unset;
      transform: translateX(--translate-x) rotate(45deg);
    }
  }

  &.left {
    left: 50%;
    right: unset;
    transform: translateX(-50%);
    --translate-x: -50%;

    &:before {
      left: 50%;
      right: unset;
      transform: translateX(-50%) rotate(45deg);
    }
  }

  &:before {
    z-index: -1;
    mask-image: linear-gradient(
      -45deg,
      rgb(0, 0, 0) 31%,
      rgba(0, 0, 0, 0) 31%,
      rgba(0, 0, 0, 0) 100%
    );
    content: "";
    position: absolute;
    bottom: -4.5px;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: #0c0c0c;
    transform: rotate(45deg) translateX(-50%);
    border-radius: 2px;
    border: 1px solid #303030;
  }
}

.branchSelect {
  height: 100%;
  background: none;
  border: none;
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  padding-right: 8px;
  padding-bottom: 0px;
  margin-bottom: 2px;
  min-width: 80px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  outline: none;
  color: inherit;
}

@keyframes in {
  0% {
    opacity: 0;
    transform: translateY(4px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes breathe {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.45;
  }
  100% {
    opacity: 1;
  }
}
